@model GameViewModel

@{
  ViewData["Title"] = "Game Board";
}

<h2 style="text-align: center;">UNO Game Board</h2>
<p style="text-align: center; margin-bottom: 0;">Direction : @Model.Direction</p>
<p style="text-align: center;">
  @foreach (var playerData in Model.PlayerDatas.Values)
  {
    if (playerData.PlayerStatus == Model.PlayerStatus)
    {
      <span>Current Turn : </span>
      @playerData.Player.Name
    }
  }
</p>
<div>
  <div style="display: flex; justify-content: space-between; margin-bottom: 40px;">
    <div>
      <h5>Say UNO :</h5>
      <button>
        <span>UNO!</span>
      </button>
    </div>
    <div>
      <h5>DisCards :</h5>
      <button>
        <span>@Model.InitialDiscardCard.CardColor - </span>
        <span>@Model.InitialDiscardCard.CardValue</span>
        <span>(id: @Model.InitialDiscardCard.CardId)</span>
      </button>
      <button>
        <span>@Model.DiscardCardCount</span>
      </button>
    </div>
    <div>
      <h5>Stock Pile :</h5>
      <button>
        @Model.StockPileCount
      </button>
    </div>
  </div>
  <div style="display: flex; justify-content: space-between;">
    @foreach (var playerData in Model.PlayerDatas.Values)
    {
      <div>
        <p style="margin-bottom: 0;">PlayerStatus : @playerData.PlayerStatus</p>
        <h5>@playerData.Player.Name's Hand :</h5>
        <ul style="list-style-type: none; padding: 0;">
          @foreach (var card in playerData.CardsInHand)
          {
            <li style="margin-bottom: 3px;">
              <form asp-page-handler="PlayCard" method="post">
                <button>
                  <span>@card.CardColor</span> - <span>@card.CardValue</span>
                  <span>(id: @card.CardId)</span>
                </button>
              </form>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>